<ul class="icons">
  <li><a href="<%= profile.social.blog %>" class="icon style2 fa-rss" lp-link-name="Blog"><span class="label">Blog</span></a></li>
  <li><a href="<%= profile.social.linkblog %>" class="icon style2 fa-bullhorn" lp-link-name="Linkblog"><span class="label">Linkblog</span></a></li>
  <li><a href="<%= profile.social.twitter %>" class="icon style2 fa-twitter" lp-link-name="Twitter"><span class="label">Twitter</span></a></li>
  <li><a href="<%= profile.social.github %>" class="icon style2 fa-github" lp-link-name="Github"><span class="label">Github</span></a></li>
  <li><a href="<%= profile.social.linkedIn %>" class="icon style2 fa-linkedin" lp-link-name="LinkedIn"><span class="label">LinkedIn</span></a></li>
  <li><a href="<%= profile.social.instagram %>" class="icon style2 fa-instagram" lp-link-name="Instagram" ><span class="label">Instagram</span></a></li>
  <li><a href="mailto:<%= profile.email.receiver %>" class="icon style2 fa-envelope-o" lp-link-name="Email" ><span class="label">Email</span></a></li>
</ul>