<!-- Items -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Services Pricing</h2>
    <p>Visit the <a href="/">main page</a>.</p>

    <ul class="actions stacked">
      <li><a href="/selection" class="button small">Purchase Services</a></li>
    </ul>

    <div class="items style1 medium onscroll-fade-in">

      <section>
        <h3><b>Basic</b></h3>
      </section>
      <section>
        <h3><b>Standard</b></h3>
      </section>
      <section>
        <h3><b>Premium</b></h3>
      </section>

    <% pricing.services.forEach(function(service) { %>

      <section>
        <span class="icon style2 major fa-paper-plane"></span>
        <h3><%= service.name %></h3>
        <p><%= service.packages.basic.description %></p>
        <p>$<%= service.packages.basic.amount %></p>
      </section>
      <section>
        <span class="icon style2 major fa-star"></span>
        <h3><%= service.name %></h3>
        <p><%= service.packages.standard.description %></p>
        <p>$<%= service.packages.standard.amount %></p>
      </section>
      <section>
        <span class="icon style2 major fa-diamond"></span>
        <h3><%= service.name %></h3>
        <p><%= service.packages.premium.description %></p>
        <p>$<%= service.packages.premium.amount %></p>
      </section>

    <% }); %>

    </div>
  </div>
</section>
