<!-- One -->
<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2>Purchase Success</h2>

    <p class="major">You have successfully purchased the following software service:</p>
    <ul style="list-style-type: none">
      <li><b>Service</b>: <%= service %></li>
      <li><b>Package</b>: <%= package %></li>
      <li><b>Price:</b> $<%= amount %></li>
      <li><b>Ref:</b> <%= stripeChargeId %></li>
    </ul>

    <p>A payment confirmation email has been sent to <%= clientEmail %></p>

    <p>Visit the <a href="/">main page</a>.</p>

    <img src="images/web-technologies-collection.png" alt="" style="width:500px" />

  </div>

  <div class="image">
    <img src="images/mountains-kalen-emsley.jpg" alt="" />
  </div>
</section>
